.truo-sync-bar {
    background-color: #f2f2f2;
    color: #414141;
    padding: 20px 10px;
    margin-bottom: 30px;
    height: auto;
    overflow: hidden;
    clear: both;
    font-size: 1rem;
}

.truo-sync-bar > .text {
    line-height: 1.7rem;
    float: left;
}

.truo-sync-bar > .text > span {
    display: inline-block;
    margin-left: 5px;
    font-size: .9rem;
}

.truo-sync-bar .btn-primary,
.truo-sync-bar .btn-primary:hover {
    background-color: #34495e;
    color: white;
    border-radius: 3px;
    -moz-border-radius: 3px;
    border: none;
    padding: 7px 20px;
    cursor: pointer;
    float: right;
}



.truo-button-float {
    position: fixed;
    z-index: 99999;
    bottom: 10%;
    right: 10%;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
}

.truo-button-float button {
    background-color: #34495e;
    border: solid 2px white;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    line-height: 38px;
    color: white;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    box-shadow: #414141 0 3px 8px;
    -moz-box-shadow: #414141 0 3px 8px;
}

.truo-button-float.warning button {
    background-color: #F44336 !important;
}

.truo-button-float:hover {
    bottom: 9.7%;
}

.truo-button-float:hover button {
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    box-shadow: none;
    -moz-box-shadow: none;
}