.popup h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.truo-sync-bar {
    background-color: #f2f2f2;
    color: #414141;
    padding: 20px 10px;
    margin-bottom: 30px;
    height: auto;
    overflow: hidden;
    clear: both;
    font-size: 1rem;
}

.truo-sync-bar > .text {
    line-height: 1.7rem;
    float: left;
}

.truo-sync-bar > .text > span {
    display: inline-block;
    margin-left: 5px;
    font-size: .9rem;
}

.truo-sync-bar .btn-primary,
.truo-sync-bar .btn-primary:hover {
    background-color: #34495e;
    color: white;
    border-radius: 3px;
    -moz-border-radius: 3px;
    border: none;
    padding: 7px 20px;
    cursor: pointer;
    float: right;
}


.emoji {
    font-family: Segoe UI Emoji, Segoe UI Symbol, Quivira, Symbola;
}


.truo-button-float {
    position: fixed;
    z-index: 99999;
    bottom: 10%;
    right: 10%;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    text-align: center;
}

.truo-button-float > div {
    background-color: #414141;
    padding: 7px;
    border-radius: 5px;
    margin-bottom: 7px;
    color: white;
    visibility: hidden;
}

.truo-button-float button {
    background-color: #34495e;
    border: solid 2px white;
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 50px;
    -moz-border-radius: 50px;
    line-height: 38px;
    height: 74px;
    width: 74px;
    color: white;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    box-shadow: #414141 0 3px 8px;
    -moz-box-shadow: #414141 0 3px 8px;
}

/* Disabled */
.truo-button-float.disabled {
    bottom: 9.7% !important;
}
.truo-button-float.disabled button {
    background-color: #ddd !important;
    color: white !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;    
}

/* Success */
.truo-button-float.success {
    bottom: 9.7% !important;
}
.truo-button-float.success button {
    background-color: #27ae60 !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;    
}

/* Warning */
.truo-button-float.warning button {
    background-color: #F44336 !important;
}

/* Hover */
.truo-button-float:not(.success):hover {
    bottom: 9.7%;
}
.truo-button-float:not(.success):hover button {
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    box-shadow: none;
    -moz-box-shadow: none;
}